.footer {
  background-color: #3a3e64;
}
.footer-intro {
  padding: 71px 0 107px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  margin: 0 -15px;
  @media (max-width: 767px) {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
.footer-intro-card {
  margin: 0 15px;
  @media (max-width: 767px) {
    margin-bottom: 25px;
  }
  &-title {
    font-family: 'Raleway';
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-bottom: 21px;
  }

  &-text {
    opacity: 0.5;
    font-family: 'Raleway';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
  }
  &-svglist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 767px) {
      justify-content: center;
    }
  }
}
.about-card {
  max-width: 300px;
  @media (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
    &:last-child {
      margin-bottom: 0px;
    }
  }
}
/*@media (max-width: 767px) {
  .location-text {
    margin-bottom: 25px;
  }
}*/

.footer-icon {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #ffffff;
}

.footer-copyright {
  padding: 29px 0;
  background-color: #313454;
  text-align: center;
  margin: auto;
}
.footer-copy {
  font-family: 'Raleway';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #808080;
  width: 312px;
}
.white-copy {
  color: #ffffff;
}
.fa-heart {
  color: #e84545;
  margin: 0 2px;
}
